[Unit]
Description=Django Admin daemon
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/home/root/rpbot/mysite/mysite
Environment="PYTHONPATH=/home/root/rpbot/mysite"
ExecStart=/home/root/rpbot/.venv/bin/gunicorn --workers 2 --bind unix:/home/root/run/tgadmin.sock wsgi:application
Restart=on-failure

[Install]
WantedBy=multi-user.target