[Unit]
Description=Telegram Bot daemon
After=network.target

[Service]
User=lev
Group=lev
WorkingDirectory=/home/lev/rpbot/
Environment="PYTHONPATH=/home/lev/rpbot/"
ExecStart=/home/lev/rpbot/.venv/bin/python /home/lev/rpbot/mysite/manage.py tbot

[Install]
WantedBy=multi-user.target