[Unit]
Description=Telegram Bot daemon
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/home/root/rpbot/
Environment="PYTHONPATH=/home/root/rpbot/"
ExecStart=/home/root/rpbot/.venv/bin/python /home/root/rpbot/mysite/manage.py tbot

[Install]
WantedBy=multi-user.target